/*===============ROOT============
цвет заголовков текста  #212121;
цвет текста #757575;
цвет акцента #2196F3;
белый цвет # FFFFFF
*/
:root {
  --title-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --main-font: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

body {
  font-family: var(--main-font);
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.address,
.contact {
  font-style: normal;
}

img {
  display: block;
}

.contener {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*===============COMPONENTS============*/
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

/*===============END COMPONENTS============*/

/*===============HEADER============*/
.header {
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid #eeeeee;
}

.header .contener {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
}

.header .logo {
  margin-right: 93px;
  color: #000000;
}

.logo-first {
  color: var(--accent-color);
}

.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.navigation-list-link:hover,
.navigation-list-link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.address {
  margin-left: auto;
}
.address-list {
  display: flex;
}

.address-list-item:not(:last-child) {
  margin-right: 50px;
}

.address-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.address-list-link:hover,
.address-list-link:focus {
  color: var(--accent-color);
}
/*===============END HEADER============*/

/*===============HERO============*/
.hero {
  max-width: 1600px;
  margin: auto;
  background-color: var(--title-text-color);
}

.hero .contener {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  display: flex;
  max-width: 696px;
  margin: 0 auto 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.hero-button {
  min-width: 200px;
  height: 50px;
  margin: 0 auto;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  font-family: var(--main-font);
}
/*===============END HERO============*/

/*===============ADVANTAGES============*/
.advanteges .contener {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages-list {
  display: flex;
}

.advantages-list-item {
  width: 270px;
  min-height: 101px;
}

.advantages-list-item:not(:last-child) {
  margin-right: 30px;
}

.advantages-list-item-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.advantages-list-item-text {
  min-height: 75px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/*===============END ADVANTAGES============*/

/*===============ACTIVITIES============*/
.activities .contener {
  padding-bottom: 94px;
}

.activities-list {
  display: flex;
}

.activities-list-item:not(:last-child) {
  margin-right: 30px;
}

.activities-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.667;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
/*===============END ACTIVITIES============*/

/*===============OUR TEAM============*/
.team {
  width: 1600px;
  margin: auto;
  background-color: #f5f4fa;
}
.team .contener {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  display: flex;
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.team-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.667;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-list-about {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}

.team-list-name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.876;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-list-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/*===============END OUR TEAM============*/

/*===============FOOTER============*/
.footer {
  width: 1600px;
  margin: auto;
  background-color: var(--title-text-color);
}
.footer .contener {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--white-color);
}

.contact-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.contact-list-city {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.contact-list-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--title-text-color);
}
/*===============END FOOTER============*/

/*===============PORTFOLIO============*/
.works .contener {
  padding-top: 94px;
  padding-bottom: 94px;
}

.works-button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.works-button-list-item:not(:last-child) {
  margin-right: 8px;
}

.works-button-list-btn {
  border: none;
  padding: 6px 22px;
  font-weight: 500;
  border-radius: 4px;

  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  font-family: var(--main-font);
}

.works-button-list-btn:hover,
.works-button-list-btn:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.example-list {
  display: flex;
  flex-wrap: wrap;
}

.example-list-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.example-list-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.example-list-information {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.example-list-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.example-list-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/*===============END PORTFOLIO============*/
